.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  /* align-items: center; */
  max-width: 1600px;
}

.header {
  height: 150px;
  margin-left: 5%;
}

.main h1, .main h2 {
  text-transform: uppercase;
}

/* hero styles */

.hero {
  display: flex;
  width: 100%;
  height: calc(100vh - 150px);
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 5%;
  z-index: 5;
}

.hero-content h1 {
  width: 70%;
  color: var(--darkblue);
  margin-bottom: 30px;
}

.hero-content fieldset {
  display: flex;
  width: 100%;
  border-color: var(--darkblue);
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.hero-content legend {
  color: var(--darkblue);
  font-weight: 500;
  font-size: 32px;
}

.hero-content h2 {
  background-color: var(--darkblue);
  color: var(--white);
  padding: 14px 25px;
  font-weight: 900;
}

.hero-content fieldset p {
  color: var(--darkblue);
  font-weight: 600;
  font-size: 28px;
  width: 55%;
}

.hero-content .countdown-view {
  display: flex;
  margin-top: 30px;
}

.hero-content .count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content .count-container .value {
  padding: 25px 15px;
  background-color: var(--darkgreen);
  color: var(--darkblue);
  border-radius: 10px;
  font-size: 32px;
  font-weight: 600;
  width: 110px;
}

.hero-content .count-container .type {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--darkblue);
  margin-top: 5px;
}

.hero-content .countdown-view .separator {
  font-size: 64px;
  font-weight: 900;
  color: var(--darkblue);
  margin-left: 5px;
  margin-right: 5px;
}

.hero-content .commence {
  margin-top: 30px;
  color: red;
}

.hero-content nav {
  display: flex;
  margin-top: 30px;
  font-size: 20px;
}

.hero-content nav a {
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 30px;
}

.hero-content nav a:hover {
  text-decoration: underline;
}

.hero-content nav .save-link {
  color: var(--white);
  background-color: var(--darkgreen);
  margin-right: 30px;
}

.hero-content nav .download-link {
  color: var(--darkblue);
  border: 2px solid var(--darkgreen);
}

.hero-pattern {
  min-width: 499px;
  background: url('../images/hero-pattern.svg') no-repeat left top;
}


.section-pilot {
  display: flex;
  background-color: var(--darkblue);
  color: var(--white);
  padding: 100px 10%;
  justify-content: space-between;
  align-items: center;
}

.section-pilot h2 {
  width: 20%;
}

.section-pilot p {
  font-size: 24px;
  width: 70%;
}

.section-pilot .bolden {
  font-weight: 700;
}

.section-speakers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 7.5%;
  background-color: var(--lightgreen);
  justify-content: center;
  align-items: center;
}

.section-speakers h2 {
  color: var(--darkblue);
  margin-bottom: 70px;
}

.section-speakers div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section-ready {
  display: flex;
  width: 100%;
  background-color: var(--darkblue);
  color: var(--white);
  padding: 100px 15%;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.section-ready h2 {
  width: 30%;
  margin-right: 30px;
}

.section-ready div a {
  text-decoration: none;
  color: var(--white);
}

.section-ready div a:hover{
  text-decoration: none;
  color: var(--white);
  text-decoration: underline;
}

.section-ready div p {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.section-ready div .icon {
  margin-right: 20px;
}

.section-sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 100px 10%;
  width: 100%;
}

.section-sponsors h2 {
  color: var(--darkblue);
  margin-bottom: 20px;
}

.section-sponsors p {
  text-align: center;
  width: 50%;
  font-size: 24px;
}

.section-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10%;
  width: 100%;
  background-color: var(--lightgreen);
}

.section-faq h2 {
  color: var(--darkblue);
  margin-bottom: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10%;
  width: 100%;
}

.footer h2 {
  color: var(--darkblue);
  margin-bottom: 30px;
}

.footer address {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
}

.footer address a {
  text-decoration: none;
  color: var(--black);

}

.social-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.social-links li {
  padding: 10px;
}

