@import '../fonts/font.css';

:root {
  --black: #000;
  --white: #fff;
  --grey: #d9d9d9;
  --darkblue: #2F3490;
  --darkgreen: #61CE70;
  --lightgreen: #DFF5E2;

}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
line-height: 1.25;
  font-weight: normal;
  font-family: Inter, 'Segoe UI', monospace;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
}  

p {
  margin: 0;
}

h1 {
  font-size: 56px;
  font-weight: 900;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
}

